/*div.imgAndInfo{

}*/
div.imgInimgAndInfo{
    width: 400px;
}

img.bigImage{
   padding: 20px;
   border: 1px solid #f2f2f2;
   width: 400px;
   height: 400px;
}
div.smallImageDiv{
    width: 80%;
    margin: 0px auto;
    padding-top: 20px;
}
img.smallImage{
    border: 2px white solid;
}
img.smallImage:hover{
    border: 2px black solid;
}