div.bouthtDiv{
    width: 1024px;
    margin: 10px auto;
}
div.orderType div{
    /*there is a issue on this pattern , the right div can not extend to the right.*/
    /*I know where the right border can show, the is a empty div on the riht*/
    border-bottom: 2px solid #e8e8e8;
    float: left;
}
div.orderType a{
    border-right: 1px solid #e8e8e8;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    padding: 0px 20px;
    text-decoration: none;
}
div.orderType a:hover{
    color: #c40000;
    text-decoration: none;
}
div.orderType div.selectedOrderType{
    border-bottom: 2px solid #c40000;
}
div.orderType div.selectedOrderType a{
    color: #c40000;
}
a.noRightborder{
    border-right-width: 0px !important;
    /*this !important here is to let the css inherit from the parent do noe over write the css */
}
div.orderTypeLastOne{
    overflow: hidden;
    float: none !important;
    border-bottom: 2px #eee solid;
    height: 34px;
}
table.orderListTitleTable{
    border: 1px solid #e8e8e8;
    width: 100%;
    margin: 20px 0px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 12px;
}
table.orderListTitleTable td{
    padding: 12px 0px;
}


