div.bouthtDiv{
    width: 1024px;
    margin: 10px auto;
}
div.orderType div{
    /*there is a issue on this pattern , the right div can not extend to the right.*/
    /*I know where the right border can show, the is a empty div on the riht*/
    border-bottom: 2px solid #e8e8e8;
    float: left;
}
div.orderType a{
    border-right: 1px solid #e8e8e8;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    padding: 0px 20px;
    text-decoration: none;
}
div.orderType a:hover{
    color: #c40000;
    text-decoration: none;
}
div.orderType div.selectedOrderType{
    border-bottom: 2px solid #c40000;
}
div.orderType div.selectedOrderType a{
    color: #c40000;
}
a.noRightborder{
    border-right-width: 0px !important;
    /*this !important here is to let the css inherit from the parent do noe over write the css */
}
div.orderTypeLastOne{
    overflow: hidden;
    float: none !important;
    border-bottom: 2px #eee solid;
    height: 34px;
}
table.orderListTitleTable{
    border: 1px solid #e8e8e8;
    width: 100%;
    margin: 20px 0px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 12px;
}
table.orderListTitleTable td{
    padding: 12px 0px;
}


table.orderListItemTable td{
    padding: 8px 10px;
}
table.orderListItemTable:hover{
    border: 2px solid #aaa;
}
div.boughtDiv{
    width: 1024px;
    margin: 10px auto;
}
table.orderListItemTable{
    width: 100%;
    border: 2px solid #eee;
    margin-bottom: 30px;
}
table.orderListItemTable tr.orderListItemFirstTR{
    background-color: #eee;
    height: 40px;
}
a.deleteOrderLink{
    margin-left: 70px;
    color: #aaa;
    font-size: 16px;

}
td.orderItemProductInfoPartTD img{

 width: 120px;
 height: 120px;
}
div.orderItemWangWangGif{
    display: inline-block;
    width: 67px;
    height: 22px;
    background-image: url(http://how2j.cn/tmall/img/site/wangwang.gif);
    /*background: no-repeat transparent scroll;*/
    background-position: -0px 0px;
    position: relative;
    top: 0px;
    left: 2px;
}
td.orderItemProductInfoPartTD div.orderListItemProductOriginalPrice{
    /*text-decoration: overline;*/
    color: #999;
    font-size: 14px;
} 
div.orderListItemProductLinkOutDiv{
    height: 120px;
}
div.orderListItemProductLinkOutDiv a{ 
    color: #999
}
div.orderListItemProductLinkOutDiv a:hover{ 
    color: #c40000;
    text-decoration: none;
}
div.orderListItemProductLinkOutDiv div.orderListItemProductLinkInnerDiv{
    margin-top: 80px;
}
td.orderItemOrderInfoPartTD{
    vertical-align: top;
    padding-top: 15px;
}
td.orderListItemNumberTD{
    border-left: 1px solid #eee;
    text-align: center;
}
td.orderListItemProductRealPriceTD{
    border-left:1px solid #eee;
    text-align: center;
}
td.orderListItemProductRealPriceTD div.orderListItemProductRealPrice{
    font-weight: bold;
}
td.orderListItemProductRealPriceTD div.orderListItemPriceWithTransport{
    color: #999;
    font-size: 13px;
}
td.orderListItemButtonTD{
    border-left:1px solid #eee;
    text-align: center;
}
button.orderListItemReview{
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    padding: 5px 12px;
    font-weight: bold;
    border-radius: 2px;
}
button.orderListItemReview:hover{
    border-color: #c40000;
    color: #c40000;
}
button.orderListItemConfirm{
    background-color: #66b6ff;
    color: white;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px;
}
button.orderListItemConfirm:hover{
    background-color: #118adb;
}