div.productDetailDiv{
    margin: 20px auto;
    width: 1013px;
}
div.productDetailTopPart{
   border: 1px solid #aaaaaa;
   border-left-width: 0px;
}
a.deselected{
    /*let see how the course fix it*/
    border-left: 1px solid #999999;

    
    display: inline-block;
    font-weight: bold;
    line-height: 46px;
    width: 120px;
    text-align: center;
    position: relative;
}
a.selected{
    /*let see how the course fix it*/
    border-left: 1px solid #cfbfb1;
    border-right: 1px solid #cfbfb1;
    color: #b10000;
    display: inline-block;
    font-weight: bold;
    line-height: 46px;
    width: 120px;
    text-align: center;
    position: relative;
}
a.selected:before{
   display: block;
   border:1px solid #b00000;
    width: 90px;
    height: 0;
    position: absolute;
    top: -1px;
    margin-left: -1px;
     cotent:"",
}
a.selected:after{
    display: block;
    border:5px solid #b00000 transparent transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -5px;
    cotent:"",   
  }
  /*why the trangle and line do not appare????? it worded in the course*/

  a.productDetailTopReviewLink{
      padding: 0px 20px;
      /*so i need to remenber this property. it will set the border do not fill all the border*/
      border-right: 1px dotted #d2d2d2;
  }

  div.productReviewContentPart{
      padding-top: 50px;
  }
div.productReviewItem{
    border-bottom: 1px solid #e3e3e3;
    margin: 10px 0px;

}

div.productReviewItem div.productReviewItemDesc{
    width: 80%;
    /*display: inline-block;*/
    color: #333333;
    margin: 5px 20px;
    float: left;
}

div.productReviewItemDate{
    margin: 15px 0px 0px 0px;
    color: #cccccc;
}

div.productReviewItem div.productReviewItemUserInfo{
    color: #404040;
    margin: 5px 20px;
    padding: 20px 0;
}
span.userInfoGrayPart{
    color: #999999;
}
a:hover{
    color: #c40000;
    text-decoration: none;
}