<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="main.css" />
		<script src="http://cdn.jsdelivr.net/vue/2.0.5/vue.js"></script>
		<script src="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/flexible/flexible.js"></script>
	    <script src="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/fastclick/fastclick.min.js"></script>
		<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="main.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="container" id="app">
			<div class="radio-wrapper">
				<ul class="list clearfix" v-cloak>
					<li v-for="anchor in anchorInfo">
						<a class="link">
							<div class="live" v-show="getLivingSatus(anchor)">
								<p>观看直播</p>
							</div>
							<img :src="getUserImg(anchor.userID)" class="user" />
							<img src="img/play.png" class="play" />
							<p class="add">+1</p>
						</a>
						<div class="user-wrapper">
							<div class="name" v-text="anchor.anchorName">
							</div>
							<div class="num" v-text="anchor.supportCnt">
							</div>
						</div>
						<template v-if="getVoteStatus(anchor)">
							<div class="had-btn">
								<p>今日已支持</p>
							</div>
						</template>
						<template v-else>
							<div class="do-btn" @click="singlerVote(anchor)">
								<p>支持</p>
							</div>
						</template>
					</li>
				</ul>
			</div>
		</div>

	</body>

</html>