body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}
div.productDetailDiv{
    margin: 20px auto;
    width: 1013px;
}
div.productDetailTopPart{
    border:  1px solid #aaaaaa;
    border-left: 0px;
    /*height: 50px;
    line-height: 50px;
    font-size: 13.5px;*/
    /*these three css is not nessary ,normally, you should let the inside tag to determine  the parent tag height */
}

a.selected{
    /*let see how the course fix it*/
    border-left: 1px solid #cfbfb1;
    border-right: 1px solid #cfbfb1;
    color: #b10000;
    display: inline-block;
    font-weight: bold;
    line-height: 46px;
    width: 90px;
    text-align: center;
    position: relative;
}



  a.productDetailTopReviewLink{
      padding: 0px 20px;
      /*so i need to remenber this property. it will set the border do not fill all the border*/
      border-right: 1px dotted #d2d2d2;
  }
span.productDetailTopReviewLinkNumber{
 color: blue
}
div.productDetailTopPart a:hover{
    color: #c40000;
    text-decoration: none;
}
div.productParamterPart{
      border:  1px solid #aaaaaa; 
      padding-bottom: 40px;
}
div.productParamterPart div.productParamter{
    margin: 35px 40px;
    margin-bottom: 20px;
    color: #999999;
    font-size: 14px;
}
div.productParamterPart div.productParamterList{
    margin-left: 40px;
}
div.productParamterPart div.productParamterList span{
    display: inline-block;
    width: 300px;
    margin: 12px 0px;
    font-size: 14px;
    color: #999;
}
div.productDetailImagesPart img{
    margin-top: 30px;
    width: 100%;
}